* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333333;
  color: #ffff99;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-color: black;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.nav__link {
  color: yellow;
  padding: 0 1.7rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav__link:hover {
  opacity: 0.6;
}

.home {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.5rem;
}

.home__hello-world {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home__name {
  font-size: 5em;
  font-weight: 600;
}

.home__first-name {
  color: white;
  font-weight: 700;
}

.home__aka {
  font-size: 1.8em;
}

.home__boft {
  font-size: 4em;
}

.home__job {
  border-top: 3px solid black;
  font-size: 3em;
}

.skills {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 80vw;
}

.skills__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.skill {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.5rem;
}

.skill__img {
  width: 200px;
  height: 200px;
}

.skill__label {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.projects {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project {
  width: 20rem;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project::after {
  content: '';
  position: absolute;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 0;
  left: 0;
  height: 95.2%;
  width: 100%;
  background: #4d4d4d;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project:hover::after {
  opacity: 0.9;
}

.project:hover .project__languages {
  opacity: 1;
}

.project__languages {
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: default;
}

.project__language {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
  background-color: black;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.5rem 0.7rem;
  font-weight: 700;
}

.project__img {
  width: 200px;
  height: 200px;
}

.project__label {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

.project__visit {
  color: black;
  font-size: 1rem;
  font-weight: 800;
}

.project__site {
  cursor: pointer;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.2rem 0;
  background-color: gray;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project__site:hover {
  background-color: black;
  color: #b3b3b3;
}

.about {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about__img {
  border-radius: 50%;
  width: 15vw;
  margin-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
}

.about__me {
  width: 75vw;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contacts {
  width: 100%;
  height: 3rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  color: yellow;
  margin: 1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact:hover {
  font-size: 1.4rem;
}

@media screen and (min-width: 320px) {
  .home__hello-world {
    font-size: 15vw;
    font-weight: 600;
  }
  .home__name {
    font-size: 17vw;
  }
  .home__first-name {
    font-size: 18vw;
  }
  .home__aka {
    font-size: 5vw;
  }
  .home__boft {
    font-size: 13vw;
  }
  .home__job {
    font-size: 10vw;
  }
  .skills {
    height: 100%;
  }
  .skills__title {
    font-size: 15vw;
    font-weight: 600;
    margin-top: 6vh;
  }
  .projects__title {
    font-size: 15vw;
    font-weight: 600;
  }
  .project {
    width: 80vw;
  }
  .project__visit {
    font-size: 1.3rem;
  }
  .about {
    height: 100%;
  }
  .about__title {
    font-size: 15vw;
    font-weight: 600;
    margin-top: 6vh;
  }
  .about__img {
    width: 55vw;
  }
  .about__me {
    font-size: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .home__hello-world {
    font-size: 7vw;
    font-weight: 600;
  }
  .home__name {
    font-size: 9vw;
  }
  .home__first-name {
    font-size: 11vw;
  }
  .home__aka {
    font-size: 5vw;
  }
  .home__boft {
    font-size: 10vw;
  }
  .home__job {
    font-size: 7vw;
  }
  .skills {
    height: 100%;
  }
  .skills__title {
    font-size: 10vw;
    font-weight: 600;
    margin-top: 6vh;
  }
  .projects__title {
    font-size: 10vw;
    font-weight: 600;
    margin-top: 6vh;
  }
  .project {
    width: 50vw;
    margin-bottom: 1.5vh;
  }
  .about {
    height: 100%;
  }
  .about__title {
    font-size: 10vw;
    font-weight: 600;
    margin-top: 6vh;
  }
  .about__img {
    width: 30vw;
  }
  .about__me {
    font-size: 2.85vw;
  }
}
/*# sourceMappingURL=main.css.map */