.home {
    @include defaultConfig;
    @include flexCenter(column);
    height: 100vh;
    margin: 0 0.5rem;

    &__hello-world {
        @include titlePage;
    }

    &__name {
        font-size: 10vw;
        font-weight: 600;
    }

    &__first-name{
        color: $text-color;
        font-weight: 700;
    }

    &__aka {
        font-size: 6vw;
    }

    &__boft {
        font-size: 9vw;
    }
    
    &__job {
        border-top: 3px solid black;
        font-size: 5vw;
    }
}